<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Laravel-Angular</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active">
                <a routerLink="/registration" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Registration</a>
            </li>
            <li>
                <a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form [formGroup]="registrationForm">

                        <div class="form-group">
                            <h1 style="text-align: center;">Registration</h1>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <md-input-container class="example-full-width">
                                        <input mdInput formControlName="first_name" id="first_name" placeholder="First Name">
                                    </md-input-container>
                                    <control-messages [control]="registrationForm.controls.first_name"></control-messages>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <md-input-container class="example-full-width">
                                        <input mdInput formControlName="last_name" id="last_name" placeholder="Last Name">
                                    </md-input-container>
                                    <control-messages [control]="registrationForm.controls.last_name"></control-messages>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <md-input-container class="example-full-width">
                                <input mdInput formControlName="email" id="email" placeholder="Email Address">
                            </md-input-container>
                            <control-messages [control]="registrationForm.controls.email"></control-messages>
                        </div>

                        <div class="form-group">
                            <md-input-container class="example-full-width">
                                <input mdInput type="password" formControlName="password" id="password" placeholder="Password">
                            </md-input-container>
                            <control-messages [control]="registrationForm.controls.password"></control-messages>
                        </div>

                        <button md-raised-button class="btn-info btn-block" [disabled]="!registrationForm.valid" (click) = "Register()">Register</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>