<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Laravel-Angular</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a routerLink="/registration" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Registration</a>
            </li>
            <li class="active">
                <a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form [formGroup]="loginForm">

                        <div class="form-group">
                            <h1 style="text-align: center;">Login</h1>
                        </div>

                        <div class="form-group">
                            <md-input-container class="example-full-width">
                                <input mdInput formControlName="email" id="email" placeholder="Email Address">
                            </md-input-container>
                        </div>

                        <div class="form-group">
                            <md-input-container class="example-full-width">
                                <input mdInput type="password" formControlName="password" id="password" placeholder="Password">
                            </md-input-container>
                        </div>

                        <button md-raised-button class="btn-info btn-block" [disabled]="!loginForm.valid" (click) = "Login()">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>